

.big-icon {
    width: 60%;
}

.medium-icon {
    width: 40%;
}
.hl {
    color: #E02525;
}

.leftc {
    float: left;
    width: 50%;
}

.rightc {
    float: right;
    width: 50%;
}






acronym {
    color: #ffb;
    
}
acronym:hover {
    cursor: help;
    color: #ff3300;
}

.footnote {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 100%;
}
